/**************************************************************************************************/
/*                                             Cvnew                                              */
/**************************************************************************************************/
.cvFrame{
    width:100%;
    height:92rem;
}
@media screen and (max-width:1250px) {
    .cvFrame{
        height:40rem;
    }
}