/**************************************************************************************************/
/*                                              Space                                             */
/**************************************************************************************************/

#canvasContainer{
text-align: center;
}
canvas{
  background-color: lightgrey;
}

#invaderTitle{
  color:white;
  text-transform: uppercase;
  margin: 2vh;
}